.navbar {
  background-color: mediumturquoise;
  padding: 5px;
}

.menu {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  transition: all 0.15s linear;
  padding: 5px 25px;
}

.menu:hover {
  color: white;
  background-color: black;
}
